{% load i18n %}
{% load static %}
<!DOCTYPE>
<html>
    <head>

        <title>Webcam Photo</title>

        <script type="text/javascript" src="{% static 'webcam/django-webcam.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/django-webcam.min.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/jquery-1.7.2.min.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/jquery.django-webcam.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/jquery.django-webcam.min.js' %}"></script>

        <link href="{% static 'webcam/django-webcam.css' %}" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="{% static 'webcam/django-webcam.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'webcam/jscam.swf' %}" type="text/css" media="all" rel="stylesheet" />

    </head>

    <body>

        <h1>Delete Webcam</h1>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>
                Are you sure You want to delete this photo
                {% for takephoto in cameras %}
                     <img src="{{MEDIA_URL}}{{takephoto.picture}}" width=70 height=70 />
                {% endfor %}
            </h3>
            <br>
            <input type="submit" value="Delete" name="delete"/>
        </form>

            <button><a href="{% url 'camera' %}">No</a></button>

    </body>
</html>
