{% load i18n %}
{% load static %}
<!DOCTYPE>
<html>
    <head>

        <title>Webcam Photo</title>

        <script type="text/javascript" src="{% static 'webcam/django-webcam.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/django-webcam.min.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/jquery-1.7.2.min.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/jquery.django-webcam.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'webcam/jquery.django-webcam.min.js' %}"></script>

        <link href="{% static 'webcam/django-webcam.css' %}" rel="stylesheet" type="text/css" media="screen,projection" />
        <link href="{% static 'webcam/django-webcam.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'webcam/jscam.swf' %}" type="text/css" media="all" rel="stylesheet" />

    </head>

    <body>

        <h1>UpdateWebcam</h1>

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{form.picture}}
            <input type="submit" value="Update" name="save"/>
        </form>

        <br>

        {% for takephoto in cameras %}
            <img src="{{MEDIA_URL}}{{takephoto.picture}}" width=100 height=100 />
        {% endfor %}

    </body>
</html>
